.section-map {
  position: relative;
  padding: 180px 0;
  &::before {
    content: 'V';
    z-index: -1;
    top: 180px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    line-height: 1;
    @include decorNumber;
  }

  @include mediaTablet {
    padding: 90px 0;
  }
}
.section-map__title {
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 44px;
  }
}
.section-map__map {
  height: 358px;
  background: #626262;
}
